body {
    font: $fontFamily;
    background: $backgroundColor;
    color:$typeDefault;
}

#{headings()} {
    font: $headFont;
    color: $headColor;
    font-weight: $thin;
}

strong  {
    font-weight: $bold;
}

p {
    font-weight: $thin;
    padding-bottom: 10px;
}