body {
    position: absolute;
    width: 100%;
    height: 100%;
}

.scene {
    position: relative;
    padding: 20px 0;

    article {
        @include container(95%);
    }

    @include breakpoint($breakpointWide) {
        padding: 40px 0;
    }

    @include breakpoint($breakpointMedium) {
        @include container;
    }
}

